

@font-face {
  font-family: 'Graduate';
  font-style: normal;
  font-weight: bolder;
  background: transparent;
  src: local('Graduate'), local('Graduate-Regular'), url(http://themes.googleusercontent.com/static/fonts/graduate/v2/3igPYHysOQSqw-Nqzu4SMnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

body {
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#333;
}

#splash_container {
    overflow: hidden;
}

#splash_container .logging {
    text-shadow: 1px -2px 1px #000000;
    filter: dropshadow(color=#000000,offX=1,offY=-2);
}

header {
    width: 100%;
    padding: 1em; 
    display: block;
    overflow: visible;
}

nav {
    /*width: 60%;*/
    margin: 0 auto;
    min-width: 900px;
    background-color: #fff !important;
    position: fixed !important;
    z-index: 1;
    width: 100%;
    margin-top: 20px;
    border-radius: 0px !important;
    z-index: 10000 !important;
}

nav a {
    border: 0;
    outline: 0;
    text-decoration: none;
    color: white;
    font-family: CollegiateFLF;
    letter-spacing: 0.2em;
}

nav img {
    float: left;
}

ul img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

nav span {
    color: white;
    float: right;
}

.green{
    color: green !important;   
}

.bg-green{
    background-color: green !important;
}

.green-light{
    color: #5cb85c !important;   
}

.bg-green-light{
    background-color: #5cb85c !important;
}

.green-dark{
    color: #4cae4c !important;
}

.bg-green-dark{
    background-color: #4cae4c !important;
}

#splash {
    width: 100%;
    padding: 2em;
    overflow: hidden;
}

#splash_content {
    margin: 0 auto;
    text-align: center;
    color: white;
}

#splash_content, 
#splash menu,
#splash p{
    margin: 0 auto;
    min-width: 900px;
}

#splash footer {
    padding: 0.1em 0 0;
    margin-top: 1em;
    background: #515151;
} 

#splash_content button {
	font-size: 2.25em;
        margin-bottom: 1.5em;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #008055;
	padding:9px 18px;
	text-decoration:none;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(5%,#80B9A2),color-stop(100%,#008055));
	background:-moz-linear-gradient( center top, #80B9A2 5%, #008055 100% );
	background:-ms-linear-gradient( top, #80B9A2 5%, #008055 100% );
        background: linear-gradient(#80B9A2, #008055);
        background:-o-linear-gradient(#80B9A2, #008055);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80B9A2', endColorstr='#008055');
	background-color:#008055;
	color:#ffffff;
	display:inline-block;
	text-shadow: 0 -3px 1px #000000;
        
        box-shadow: 0px 7px 0px #00442b, 0px 6px 15px rgba(0,0,0,.7);
        -webkit-box-shadow: 0px 7px 0px #00442b, 0px 6px 15px rgba(0,0,0,.7);;
        -moz-box-shadow: 0px 7px 0px #00442b, 0px 6px 15px rgba(0,0,0,.7);
}

#splash_content button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #008055), color-stop(100%, #006C41) );
	background:-moz-linear-gradient( center top, #008055 5%, #006C41 100% );
	background:-ms-linear-gradient( top, #008055 5%, #006C41 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#008055', endColorstr='#006C41');
	background-color:#77a809;
}

#splash_content button:active{
    position: relative;
    top: 2px;
    outline: none;
    -o-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    transition: 0.2s all ease;
    box-shadow: 0px 3px 0px #00442b, 0px 6px 15px rgba(0,0,0,.7);
    -webkit-box-shadow: 0px 3px 0px #00442b, 0px 6px 15px rgba(0,0,0,.7);;
    -moz-box-shadow: 0px 3px 0px #00442b, 0px 6px 15px rgba(0,0,0,.7);
    text-shadow: 0 2px 0px #000000;
}

#splash_content button:focus {
    outline: none;
}

#splash  {
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    padding: 0;
}

#splash footer p {
    color: white;
    padding: 1em 0 0.5em;
    text-align: center;
}

#splash menu {
    margin: 0;
    padding: 0.1em 0;
}

#splash menu ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    display: block;
}

#splash menu li {
    display: inline-block;
    margin: 0 10px;
    padding:0;
    height: 1em;
    line-height: 2em;
    vertical-align: middle;
}

#splash menu li a {
    color: white;
    text-decoration: underline;
    font-size: 115%;
    text-shadow: 1px -1.5px 0px #000000;
}

@media all and (min-width: 400px) {
    body {
        /*background: url(../imgs/background/background-normal.png) no-repeat center center fixed;*/
    }
}

@media all and (min-width: 992px) {
    body {
       /* background: url(../imgs/background/background-large.png) no-repeat center center fixed;*/
    }
}


/* navbar */
.myNav{
    top: -20px;
	padding-top:10px;
	padding-bottom:10px;
    height:90px;
	background:#fff;
	border-color:#fff;
    z-index: 100;
}
.myNav .navbar-brand{
	font-size:30px;
    padding: 0px;
}
.myNav img.logo{
    margin-top: -5px;
    width: 200px;
    height: auto;
}
.myNav .navbar-nav .btn-black{
  border: 1px solid #5cb85c;
  background-color: #5cb85c;
  margin-top: 7px;
  border-radius: 0px !important;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  font-family: 'arial';
}
.myNav .navbar-nav .btn-black:hover{
    border: 1px solid #5cb85c;
    color:#4cae4c;
    background-color: #fff;
}
.myNav .navbar-nav li{
    padding: 0 20px !important;
}
.myNav .navbar-nav li a{
	padding-bottom:3px;
}
.myNav .navbar-nav li a:hover,
.myNav .navbar-nav li a:focus,
.myNav .navbar-nav li a:active{
	border-bottom:4px solid #5cb85c;
}
.myNav .navbar-nav .active{
	border-bottom:4px solid #5cb85c;;
}
#searchbar{
    position: relative;
    right: 0;
    background-color: #fff;
    padding: 20px;
    width: 500px;
    text-align: left;
}
/*****************/

/*cover */
#cover{
	margin-top:-20px;
}
#cover .container-fluid{
	margin:0;
	padding:0;
}
#carousel-example-generic{
    margin-top: 90px;
}
#cover .carousel-caption{
	background:rgba(0,0,0,.5);
	border-radius:5px;
	max-width: 550px;
      margin:0 auto;
      margin-top: 200px;
	  margin-bottom: 50px;
      text-align:center;
}
#cover .carousel-inner{
       /* margin-top: 90px;*/
}
#cover .carousel-caption h1{
	font-weight:600;
}
#cover .carousel-caption h2{
	font-weight:lighter;
}
#cover .carousel-caption .input-group{
	padding-top:10px;
}
#cover select{
	color:#2B2B2B;
}

#cover video { 
  width: 100%;
  /*position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;*/
}
#cover .stopfade { 
   opacity: .5;
}

#cover .caption-center{
  top: 75px !important;
  left: 33% !important;
}

#cover .caption-center-short{
  top: 150px !important;
  left: 33% !important;
}

#cover .uhitch-caption { 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
  position: absolute;
  top: 33%;
  left: 33%;
}

#cover .uhitch-caption button.pause { 
  display: block;
  width: 100%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  /*border-radius: 3px; */
  cursor: pointer;
  transition: .3s background;
}
#cover .uhitch-caption button.pause:hover { 
   background: rgba(0,0,0,0.5);
}

#cover a.join-us{
  width: 100% !important;
  text-align: center !important;
  border-radius: 0px !important;
}
/********************/

/* Footer */
footer{
  position: relative;
  bottom: 0px !important;
  margin-top: 20px;
  border-top: 1px solid #efefef;
  width: 100%;
  z-index:100;
  background-color: #fff;
  clear: both;
}

#footer-nav{
    margin: 20px auto;
    display: inline-block;
    list-style: none;
}

#footer-nav li{
    display: inline-block;
    padding: 0 5px;
}

#footer-nav li a.social-link{
  border-radius: 50%;
  border: 1px solid green;
  width: 40px;
  height: 40px;
  display: block;
  font-size: 25px;
  color: green;
}

#footer-nav li a.social-link:hover{
 background-color: #4cae4c;
 color: #fff;
}

#footer-nav li a{
    color: green;
}

#footer-nav li a:hover{
    color: #4cae4c;
}

.center{
    text-align: center;
}

.nav-icon{
    width: 40px; 
   /* margin-left: 10px;*/
}

.nav-icon-adjust{
  margin-top: -30px !important;
  margin-bottom: -20px !important;
}

.margin-top-100px{
    margin-top: 100px !important;
}
.margin-top-150px{
    margin-top: 150px !important;
}
.margin-top-200px{
    margin-top: 200px !important;
}
.margin-top-2500px{
    margin-top: 250px !important;
}
.margin-top-300px{
    margin-top: 300px !important;
}


/*** SUBMENU ***/

.submenu{
    position: absolute;
    list-style: none;
    background: #fff;
    border: 1px solid #4cae4c;
    margin-top: -3px;
    width: auto;
    display: none;
    right: 15px;
    font-size:12px;
    box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
}

.submenu li.sbm{
  margin-left: -40px;
  text-align: left;
  padding: 0 !important;
  border-bottom: 1px solid #efefef;
}

.submenu li.sbm > a{
    color: #777;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 10px 15px;
}

.submenu li.sbm:hover {
    background-color: green;
}

.submenu li.sbm:hover > a{
    color: #fff;
    text-decoration: none;
    border:0;
}

.width-200px{
    width: 200px !important;
}
.width-150px{
    width: 150px !important;
}

.full-width{
    width: 100% !important;
}
.half-width{
    width: 50% !important;
}

.float-left{
    float: left;
}

.icon-font{
    font-size: 40px !important;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}

.padding-5px{
    padding: 5px !important;
}
.padding-10px{
    padding: 10px !important;
}
.padding-15px{
    padding: 15px !important;
}
.padding-20px{
    padding: 20px !important;
}
.padding-25px{
    padding: 25px !important;
}
.padding-30px{
    padding: 30px !important;
}
.padding-35px{
    padding: 35px !important;
}

.clear{
    clear: both;
}

.safety{
     width: 100px;
     height: 100px;
     border: 1px solid green;
     border-radius: 50%;
     font-size: 4em !important;
     color: green;
}
.safety:hover{
    color: #fff;
    background-color: #4cae4c;
    border: 1px solid #4cae4c;
}

#diagram .img-circle{
  border-radius: 50%;
  border: 5px solid #efefef;
  width: 200px;
  height: auto;
}

#diagram h1{
  text-align: center;
  margin: 50px 0px;
  font-size: 40px;
  color: green;
}

#diagram h4{
  text-align: center;
  margin: 10px 0px;
  color: green;
}

#diagram div.row{
    margin-top:20px;
    margin-bottom: 40px;
}

#about_content h2{
    color: green;
}
